{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}
    <h1 class="titre_modification_profil" xmlns="http://www.w3.org/1999/html">Profil</h1>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="icon-block">
                <div class="center">
                    {% if stagiaire.image %}
                        <img class="photo_stagiaire" src="/photos/{{stagiaire.image}}">
                    {% else %}
                        <img class="photo_stagiaire" src="{{ asset('/images/stagiaires_no_photo.jpg') }}">
                    {% endif %}
                </div>
                <h5 class="center">{{ stagiaire.prenom }} {{ stagiaire.nom }}</h5>
                <p class="light">
                    <i class="material-icons">phone</i> <span>{{ stagiaire.telephone }}</span><br>
                    <i class="material-icons">mail</i> <span>{{ stagiaire.email }}</span><br>
                    <i class="material-icons">school</i> <span>{{ stagiaire.campus }}</span>
                </p>
            </div>
            <div class="right">
                <a class="waves-effect waves-light btn-small" href="{{ path('sorties_liste') }}"><i class="material-icons left">chevron_left</i>Retour</a>
            </div>
        </div>
    </div>

{% endblock %}

