<div id="champFlash">
    {% for label, messages in  app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
</div>
<h1 class="titre_modification_profil">Modification de votre profil</h1>
<div class="form">
    {{ form_start(profilForm) }}
    {% if stagiaire.image %}
        <img alt="photo profil" class="photo_stagiaire" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
    {% else %}
        <img alt="photo profil" class="photo_stagiaire" src="{{ asset('/images/stagiaires_no_photo.jpg') }}">
    {% endif %}
    {{ form_row(profilForm.nom) }}
    {{ form_row(profilForm.prenom) }}
    {{ form_row(profilForm.telephone) }}
    {{ form_row(profilForm.email) }}
    {{ form_row(profilForm.campus) }}
    {{ form_row(profilForm.currentPassword) }}
    {{ form_row(profilForm.password) }}
    {{ form_row(profilForm.imageFile) }}
    <section class="btnModifProfil">
        <input type="submit" name="Envoyer" value="Envoyer" class="btn btn-primary">
        <a href="{{ path('sorties_liste') }}">
            <input type='button' class="btn btn-primary" value="Annuler">
        </a>
    </section>
    {{ form_end(profilForm) }}
</div>














