{% extends 'base.html.twig' %}

{% block title %}   {% if modecree %}Créer une sortie {% else %}Modifier une sortie {% endif %}{% endblock %}

{% block body %}
    <script src="{{ asset('JS/VillesEtLieux.js') }}"></script>
{#    <script>#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            var elems = document.querySelectorAll('select');#}
{#            var instances = M.FormSelect.init(elems, "");#}
{#        });#}
{#    </script>#}

    {% if modecree %}
        <h1>Créer une sortie</h1>
    {% else %}
        <h1>Modifier une sortie</h1>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.debutSortie) }}
    <label for="duree" >Durée</label><input type="number" id="duree" name="duree" min="30"  step="10" value="30" required>minutes
    {{ form_row(form.dateLimiteInscription) }}
    {{ form_row(form.nombreInscriptionsMax) }}
    {{ form_row(form.infosSortie) }}
    {{ form_row(form.campus) }}

    {#--------- section villes ------------#}

    <label for="choixVille"> Ville
        <select id="choixVille" name="choixVille" required onchange="chargerLieux(value)">
{#                <option  disabled selected>choisissez une ville:</option>#}
            {% for ville in villes %}
                {% if ville == laville %}
                    <option value="{{ ville.id }}" selected> {{ ville.nom }}</option>
                {% else %}
                    <option value="{{ ville.id }}"> {{ ville.nom }}</option>
                {% endif %}
            {% endfor %}

        </select>
    </label>
{#    --------- section Lieux ------------#}
    <label for="choixLieux"> Lieu
        <select id="choixLieux" name="choixLieux"  required onchange="afficherUnLieu(value)">
            <option  disabled selected>choisissez un lieu:</option>

            {% for lieu in lieux %}
                {% if lieu == leLieu %}
                    <option value="{{ lieu.id }}" selected> {{ lieu.nom }}</option>
                {% else %}
                    <option value="{{ lieu.id }}"> {{ lieu.nom }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label>
    <a href="{{ path('allerLieux') }}"><input type="button" name="creerLieu" value="+" ></a>

    <section id="afficheLieu"></section>

    {#--------- section boutons ------------#}
    {% if modecree %}
        <input type="submit" name="Creer" value="Creer">
    {% else %}
        <input type="submit" name="Modifier" value="Modifier">
    {% endif %}
    <input type="submit" name="Publier" value="Publier">
    <a href="{{ path('sorties_liste') }}"><input type="button" name="Annuler" value="Annuler" ></a>

{% endblock %}


