{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div id="update_etats">
        <h3 class="titre_listes_sorties">Liste des sorties</h3>
        <a href="{{ path('sorties_updateEtat') }}"><i class="large material-icons" id="update_icon">update</i></a>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <section>
                    <h6>Date du jour : {{ "now"|date("d/m/Y") }} </h6>
                    <h6>Organisateur : {{ app.user.prenom }} {{ app.user.nom }}</h6>
                </section>
                <br/>
                <h6>Recherche d'une sortie</h6>
                {{ form_start(form) }}
                <div class="input-field col s12">
                    {{ form_widget(form.nom,{'attr': {'class': ''}}) }}
                    {{ form_label(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{ form_widget(form.debutSortie,{'attr': {'class': 'datepicker','name': 'debut'}} ) }}
                    </div>
                    <div class="input-field col s4">
                        {{ form_widget(form.finSortie,{'attr': {'class': 'datepicker'}} ) }}
                    </div>
                </div>
                {{ form_row(form.campus) }}
                <div id="filtres">
                    <div id="cb_sortie_organisateur">
                        {{ form_widget(form.organisateur) }}
                        {{ form_label(form.organisateur) }}
                    </div>
                    <div id="cb_sortie_inscrit">
                        {{ form_widget(form.inscrit) }}
                        {{ form_label(form.inscrit) }}
                    </div>
                    <div id="cb_sortie_passes">
                        {{ form_widget(form.sorties_ouvertes) }}
                        {{ form_label(form.sorties_ouvertes) }}
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Rechercher</button>
                {{ form_end(form) }}
                <a href="{{ path('sorties_liste') }}">
                    {{ form_end(form) }}
                    <button class="btn waves-effect waves-light">Effacer les filtres</button>
                </a>

                <a href="{{ path('sorties_creer') }}">
                    <button class="btn waves-effect waves-light">Créer une sortie</button>
                </a>
                <br/>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th onclick="play()">Nom</th>
                        <th>Campus</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>État</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td id="nom_sortie">{{ sortie.nom }}</td>
                            <td>{{ sortie.campus.nom }}</td>
                            <td>{{ sortie.debutSortie|date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                            {% if sortie.participants|length == sortie.nombreInscriptionsMax %}
                                <td id="sorties_complete"><span class="new badge red">complet</span></td>
                            {% else %}
                                <td id="sorties_dispo">{{ sortie.participants|length }}
                                    /{{ sortie.nombreInscriptionsMax }}</td>
                            {% endif %}
                            <td>
                                {% if sortie.etat == 1 %}
                                <span class="">En création</span>
                                {% endif %}
                                {% if sortie.etat == 2 %}
                                 <span class="new badge green">Ouvert</span>
                                {% endif %}
                                {% if sortie.etat == 3 %}
                                <span class="new badge orange">Fermée</span>
                                {% endif %}
                                {% if sortie.etat == 4 %}
                                <span class="new badge blue">Encours</span>
                                {% endif %}
                                {% if sortie.etat == 5 %}
                                <span class="new badge grey">Passée</span>
                                {% endif %}
                                {% if sortie.etat == 6 %}
                                <span class="new badge red">Annulée</span>
                                {% endif %}
                                {% if sortie.etat == 7 %}
                                <span class="">Archivée</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if app.user in sortie.participants %}
                                    <i class="material-icons">check</i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('profil_affich',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a>
                            </td>
                            <td class="icon_sorties">
                                <div id="btn_affiche">
                                    <a href="{{ path('sorties_detail', {'id': sortie.id}) }}" class="btn-floating blue"><i
                                                class="material-icons">zoom_in</i></a>
                                </div>
                                <div id="btn_remove">
                                    {% if app.user in sortie.participants and sortie.etat == 2 %}
                                        <a href="{{ path('sorties_desistement', {'id': sortie.id}) }}"
                                           class="btn-floating orange"><i class="material-icons">remove</i></a>
                                    {% endif %}
                                </div>
                                <div id="btn_add">
                                    {% if app.user not in sortie.participants and sortie.etat == 2 and sortie.participants|length < sortie.nombreInscriptionsMax %}
                                        <a href="{{ path('sorties_sinscrire', {'id': sortie.id}) }}"
                                           class="btn-floating green pulse"><i class="material-icons">add</i></a>
                                    {% endif %}
                                </div>
                                <div id="btn_modify">
                                    {% if sortie.etat == 1 and user_connecte == sortie.organisateur %}
                                        <a href="{{ path('sorties_modifier-sortie', {'id': sortie.id}) }}"
                                           class="btn-floating orange"><i class="material-icons">mode_edit</i></a>
                                    {% endif %}
                                </div>
                                <div id="btn_annuler">
                                    {% if (sortie.etat == 2 or sortie.etat == 3) and user_connecte == sortie.organisateur %}
                                        <a href="{{ path('sorties_annulation', {'id': sortie.id}) }}"
                                           class="btn-floating red"><i class="material-icons">delete</i></a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </br>
                    Total sorties: {{ sorties.getTotalItemCount }}
                    {{ knp_pagination_render(sorties) }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}





