{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    <h1>Liste des sorties</h1>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <section>
                <strong>Date du jour : </strong>{{ "now"|date("d/m/Y") }} <br>
                <strong>Participant : </strong>{{ app.user.nom }}
                </section>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.debutSortie) }}
                {{ form_row(form.finSortie) }}
                {{ form_row(form.campus) }}
                {{ form_row(form.organisateur) }}
                {{ form_row(form.inscrit) }}
                {{ form_row(form.non_inscrit) }}
                {{ form_row(form.sorties_passees) }}
                <button type="submit" class="btn btn-primary">Rechercher</button>
                <a href="{{ path('_sorties') }}" class="btn btn-secondary">Effacer les filtres</a>
                {{ form_end(form) }}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Campus</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>État</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.campus.nom }}</td>
                            <td>{{ sortie.debutSortie|date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                            <td>{{ sortie.participants|length }}/{{ sortie.nombreInscriptionsMax }}</td>
                            <td>
                                {{ sortie.etat == 1 ? 'En création' :
                                sortie.etat == 2 ? 'Ouvert' :
                                sortie.etat == 3 ? 'Fermé' :
                                sortie.etat == 4 ? 'En cours' :
                                sortie.etat == 5 ? 'Annulé' :
                                sortie.etat == 6 ? 'Passé' :
                                sortie.etat == 7 ? 'Archivé' : '' }}
                            </td>
                            <td>
                                {% if app.user in sortie.participants %}
                                    x
                                {% endif %}
                            </td>
                            <td>{{ sortie.organisateur.nom }}</td>
                            <td>
                                {% if sortie.etat == 1 %}
                                    <a href="{{ path('_sorties_test', {'id': sortie.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                                {% endif %}
                                <a href="{{ path('_sortie', {'id': sortie.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
                                {% if app.user in sortie.participants and sortie.etat == 2 %}
                                    <a href="{{ path('_desistement', {'id': sortie.id}) }}" class="btn btn-danger btn-sm">Se désister</a>&nbsp;
                                {% endif %}
                                {% if app.user not in sortie.participants and sortie.etat == 2 %}
                                    <a href="{{ path('_sinscrire', {'idSortie': sortie.id}) }}" class="btn btn-success btn-sm">S'inscrire</a>&nbsp;
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-center my-3">
                    <a href="{{ path('_creer-sortie') }}" class="btn btn-success">
                        Créer une sortie
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



