<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
{#{   #    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
    <link href="{{ asset('css/materialize.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div>
    {% if app.user %}
        <div>
            <section><p>Bonjour {{ app.user.prenom }} {{ app.user.nom }}</p></section>
        </div>
    {% endif %}
</div>
<div id="container_main">
    {% block nav %}
        {% include 'navbar.html.twig' %}
    {% endblock %}
    <main>
        {% block main %}
        {% endblock %}
        <div id="champFlash">
            {% for label, messages in  app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </main>
</div>
</body>
</html>
