{% block navbar %}
    <script src="{{ asset('JS/konami.js') }}"></script>
    <script type="application/javascript">
        var easter_egg = new Konami(function() {
            let anim = document.querySelectorAll(".bird_text,.bird,.eye,.face,.head,.eye_left,.eye__inner,.eye__inner_right,.eye__inner_left,.eye__pupil,.nose,.body1,.body2,.body3,.leg,.leg_left,.leg_right,.tail,.pseudo-knife,.pseudo-knife__blade,.pseudo-knife__handle,.knife,.knife__blade,.knife__handle");
            console.log(anim);
            for (var i = 0; i < anim.length; i++) {
                anim[i].style.animationPlayState = "running";
            }
        });
    </script>
    <div id="nav_bar">
        <div id="menu_nav_bar">
            <button id="t1"  data-target="modal1" class="touches_inactive modal-trigger">?</button>
            <button id="t2" class="touches_active" onclick="window.location.href='{{path('admin') }}'">Accès Admin</button>
            <button id="t3" class="touches_active" onclick="window.location.href='{{path('profil_modif') }}'">Mon Profil</button>
            <button id="t4" class="touches_inactive" onclick="play()"><img src="{{asset('images/arrow_right.png')}}" width="15px" height="15px"></button>
            <button id="t5" class="touches_inactive"><img src="{{asset('images/arrow_left.png')}}" width="15px" height="15px"></button>
            <button id="t6" class="touches_inactive"><img src="{{asset('images/arrow_up.png')}}" width="15px" height="15px"></button>
            <button id="t7" class="touches_inactive"><img src="{{asset('images/arrow_down.png')}}" width="15px" height="15px"></button>
            <button id="t8" class="touches_active" onclick="window.location.href='{{path('app_login')}}'">Connexion</button>
            <button id="t9" class="touches_active" onclick="window.location.href='{{path('sorties_liste')}}'">Sorties</button>
            <button id="t10" class="touches_inactive" onclick="window.location.href='{{path('app_logout') }}'"><img class="eject" src="{{ asset('/images/eject_icon.png') }}" alt=""><p>Echap</p></button>
            <p class="titre_company">BANDO</p>
            <p class="sous_titre_company">#758681</p>
        </div>
    </div>
    <div class="wrapper" id="wrapper">

        <div class="bird" id="bird">
            <div class="head" id="head">
                <div class="eye eye_right">
                    <div class="eye__inner eye__inner_right">
                        <div class="eye__pupil"></div>
                    </div>
                </div>
                <div class="nose"></div>
                <div class="eye eye_left">
                    <div class="eye__inner eye__inner_left">
                        <div class="eye__pupil"></div>
                    </div>
                </div>
            </div>
            <div class="body-wrap">
                <div class="body1"></div>
                <div class="body2"></div>
                <div class="body3"></div>
            </div>

            <div class="legs">
                <div class="leg leg_left"></div>
                <div class="leg leg_right"></div>
            </div>

            <div class="tail"></div>

            <div class="pseudo-knife">
                <div class="pseudo-knife__blade"></div>
                <div class="pseudo-knife__handle"></div>
            </div>

            <div class="knife" id="knife">
                <div class="knife__blade"></div>
                <div class="knife__handle"></div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Qui sommes nous</h4>
            <p>Ce site a été créé en 2023 par Déana, Bruno et AnneSo</p>
            <p>Bisous</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Merci</a>
        </div>
    </div>
{% endblock %}