{% extends 'base.html.twig' %}
{% block title %}Créer un lieu{% endblock %}
{% block body %}
   <h3>Créer un lieu</h3>
 {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.rue) }}
   {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}
    {{ form_row(form.ville) }}
    <section class="btnCreerLieu">
       <input id="creer" type="submit" name="Creer" value="Créer" class="btn btn-primary">
        <a href="{{ path('sorties_creer') }}"  id="retour"><input type="button" name="retour" value="Retour" class="btn btn-primary"></a>
    </section>
    {{ form_end(form) }}
{% endblock %}