{% extends 'base.html.twig' %}
{% block body %}
   <h3>Créer un lieu</h3>
 {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.rue) }}
    {{ form_row(form.longitude) }}
    {{ form_row(form.latitude) }}
    {{ form_row(form.ville) }}
    {{ form_end(form) }}
{#   <a href="{{ path('creer_lieu') }}"><input type="button" name="creerLieu" value="+" ></a>#}
   <a href="{{ path('sorties_creer') }}"><input type="button" name="retour" value="Retour" ></a>
{#   <a href="{{ path('sorties_retourLieu') }}"><input type="button" name="Retour" value="Retour" ></a>#}
{% endblock %}